@{
    Page.Title = "Bridal Party";
}

<hgroup class="long">
    <h1>Accommodations</h1>
    <h3>Welcome to Seattle, WA</h3>
</hgroup>

<p>We would like to extend our deepest appreciation and joy that you will be joining us for our special day. 
Every one of you have helped to make us who we are today and we cannot think of a better way to celebrate our 
new life together than with those who helped shape our lives so far. Once again we cannot express how excited 
we are to have you join us on this special day!</p>

<p>We would like to welcome you to Seattle, WA! Below you will find information that should make your stay more 
enjoyable, including details on accommodations as well recommendations of what to see and do while you are here 
in Seattle.</p>

<hgroup>
    <h2>Hotels</h2>
    <h3>Preferred Hotels</h3>
</hgroup>

<section class="hotel">
    <h4>Hyatt Place downtown seattle</h4>
    <address>110 6th Ave North Seattle, WA 98109</address>
    <p class="phone">206-441-6041</p>
    <p>For reservations call (888) 591-1234 and mention Silewski/Osborn Wedding or reserve online at 
    <a title="online resevations" href="www.hyattplaceseattledowntown.com">www.hyattplaceseattledowntown.com</a> 
    using code <strong>G-SO13</strong></p>
    <h5>Rates</h5>
    <ul>
        <li>Single king with pull out sofa bed - $152.00/night + tax</li>        
        <li>Double queen with pull out sofa bed - $162.00/night +tax</li>
    </ul>
    <p>* Must reserve by 4/18/2013 to be included in block rate. Additionally free shuttle service available within 
    a one mile radius of Hyatt Place, this includs The Edgewater Hotel.</p>
</section>

<section class="hotel">
    <h4>Holiday Inn Express</h4>
    <address>211 Dexter Ave N Seattle, WA 98109</address>
    <p class="phone">206-728-8123</p>
    <p>For reservations call 206.728.8123 or 1.800.465.4329 and request Silewski/Osborn Wedding rate</p>
    <h5>Rates</h5>
    <ul>
        <li>Single king - $129.00/night + tax</li>        
        <li>Double queen - $129.00/night +tax</li>
    </ul>
    <p>* Must reserve by 4/9/2013 to be included in block rate. This hotel is across the street from the Hyatt Place.</p>
</section>

<hgroup>
    <h2>Transportation</h2>
    <h3>Planes, Trains, &amp; Automobiles</h3>
</hgroup>

<p>There are several ways to get from and to the airport all of varying levels of complexity and excitement. First, and 
simplest, would be to hire a taxi. This will cost around $32 each way and can easily be hailed at the airport and at the 
hotels. If you would like to try a more adventure form of taxi check out a Seattle and San Francisco only service called 
<a href="https://www.uber.com/cities/seattle">Uber</a>. Second, and most adventurous, would be to take the 
<a href="http://www.soundtransit.org">Seattle Light Rail</a> from the airport to Westlake Center and then walk or get a 
taxi to your hotel. The Light Rail takes approximately 39 minutes to get to downtown and will cost about $3 per person. 
Lastly, would be to rent a car. We would advise against this unless you are staying extended period of time, mainly because 
hotels do charge for parking and the hotels are located close to the heart of the activities, The Edgewater Hotel. </p>

<hgroup>
    <h2>Tourism</h2>
    <h3>Reccomended activities</h3>
</hgroup>

<ul class="party">
    <li>
        <hgroup>
            <h4>Pike Place Market</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, lacus id ultrices hendrerit, sem augue 
        aliquet elit, in rhoncus odio ligula vel dolor. Nam a nibh nulla. Aliquam erat volutpat. Nullam elit odio, volutpat 
        ut pharetra ut, tempus in metus. Praesent odio sapien, congue sed semper tincidunt, feugiat non sapien. Vestibulum 
        scelerisque nibh sed purus pharetra interdum. Phasellus ornare erat at ipsum ullamcorper nec tincidunt tortor interdum.</p>
    </li>
    <li>
        <hgroup>
            <h4>Pike Place Market</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, lacus id ultrices hendrerit, sem augue 
        aliquet elit, in rhoncus odio ligula vel dolor. Nam a nibh nulla. Aliquam erat volutpat. Nullam elit odio, volutpat 
        ut pharetra ut, tempus in metus. Praesent odio sapien, congue sed semper tincidunt, feugiat non sapien. Vestibulum 
        scelerisque nibh sed purus pharetra interdum. Phasellus ornare erat at ipsum ullamcorper nec tincidunt tortor interdum.</p>
    </li>
    <li>
        <hgroup>
            <h4>Pike Place Market</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, lacus id ultrices hendrerit, sem augue 
        aliquet elit, in rhoncus odio ligula vel dolor. Nam a nibh nulla. Aliquam erat volutpat. Nullam elit odio, volutpat 
        ut pharetra ut, tempus in metus. Praesent odio sapien, congue sed semper tincidunt, feugiat non sapien. Vestibulum 
        scelerisque nibh sed purus pharetra interdum. Phasellus ornare erat at ipsum ullamcorper nec tincidunt tortor interdum.</p>
    </li>
    <li>
        <hgroup>
            <h4>Pike Place Market</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, lacus id ultrices hendrerit, sem augue 
        aliquet elit, in rhoncus odio ligula vel dolor. Nam a nibh nulla. Aliquam erat volutpat. Nullam elit odio, volutpat 
        ut pharetra ut, tempus in metus. Praesent odio sapien, congue sed semper tincidunt, feugiat non sapien. Vestibulum 
        scelerisque nibh sed purus pharetra interdum. Phasellus ornare erat at ipsum ullamcorper nec tincidunt tortor interdum.</p>
    </li>
    <li>
        <hgroup>
            <h4>Pike Place Market</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, lacus id ultrices hendrerit, sem augue 
        aliquet elit, in rhoncus odio ligula vel dolor. Nam a nibh nulla. Aliquam erat volutpat. Nullam elit odio, volutpat 
        ut pharetra ut, tempus in metus. Praesent odio sapien, congue sed semper tincidunt, feugiat non sapien. Vestibulum 
        scelerisque nibh sed purus pharetra interdum. Phasellus ornare erat at ipsum ullamcorper nec tincidunt tortor interdum.</p>
    </li>
</ul>