@{
    Page.Title = "Accommodations";
    Page.accommodations = "current";
}

<hgroup class="long">
    <h1>Accommodations</h1>
    <h3>Welcome to Seattle, WA</h3>
</hgroup>

<p>We would like to extend our deepest appreciation and joy that you will be joining us for our special day. 
Every one of you have helped to make us who we are today and we cannot think of a better way to celebrate our 
new life together than with those who helped shape our lives so far. Once again we cannot express how excited 
we are to have you join us on this special day!</p>

<p>We would like to welcome you to Seattle, WA! Below you will find information that should make your stay more 
enjoyable, including details on accommodations as well recommendations of what to see and do while you are here 
in Seattle.</p>

<hgroup>
    <h2>Hotels</h2>
    <h3>Preferred Hotels</h3>
</hgroup>

<section class="hotel">
    <h4>Hyatt Place downtown seattle</h4>
    <address>110 6th Ave North Seattle, WA 98109</address>
    <p class="phone">206-441-6041</p>
    <p>For reservations call (888) 591-1234 and mention Silewski/Osborn Wedding or reserve online at 
    <a title="online resevations" href="www.hyattplaceseattledowntown.com">www.hyattplaceseattledowntown.com</a> 
    using code <strong>G-SO13</strong></p>
    <h5>Rates</h5>
    <ul>
        <li>Single king with pull out sofa bed - $152.00/night + tax</li>        
        <li>Double queen with pull out sofa bed - $162.00/night +tax</li>
    </ul>
    <p>* Must reserve by 4/18/2013 to be included in block rate. Additionally free shuttle service available within 
    a one mile radius of Hyatt Place, this includs The Edgewater Hotel.</p>
</section>

<section class="hotel">
    <h4>Holiday Inn Express</h4>
    <address>211 Dexter Ave N Seattle, WA 98109</address>
    <p class="phone">206-728-8123</p>
    <p>For reservations call 206.728.8123 or 1.800.465.4329 and request Silewski/Osborn Wedding rate or
    reserve online at <a title="online resevations" href="http://www.hiexpress.com/hotels/us/en/seattle/seawa/hoteldetail?groupCode=SOW">http://www.hiexpress.com</a>
    using code <strong>SOW</strong></p>
    <h5>Rates</h5>
    <ul>
        <li>Single king - $129.00/night + tax</li>        
        <li>Double queen - $129.00/night +tax</li>
    </ul>
    <p>* Must reserve by 4/9/2013 to be included in block rate. This hotel is across the street from the Hyatt Place.</p>
</section>

<iframe id="map" width="705" height="470" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
src="https://maps.google.com/maps/ms?msa=0&amp;msid=211236623504893883128.0004c93b769ee12f74c4f&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe>

<hgroup>
    <h2>Transportation</h2>
    <h3>Planes, Trains, &amp; Automobiles</h3>
</hgroup>

<p>There are several ways to get from and to the airport all of varying levels of complexity and excitement. First, and 
simplest, would be to hire a taxi. This will cost around $32 each way and can easily be hailed at the airport and at the 
hotels. If you would like to try a more adventure form of taxi check out a Seattle and San Francisco only service called 
<a href="https://www.uber.com/cities/seattle">Uber</a>. Second, and most adventurous, would be to take the 
<a href="http://www.soundtransit.org">Seattle Light Rail</a> from the airport to Westlake Center and then walk or get a 
taxi to your hotel. The Light Rail takes approximately 39 minutes to get to downtown and will cost about $3 per person. 
Lastly, would be to rent a car. We would advise against this unless you are staying extended period of time, mainly because 
hotels do charge for parking and the hotels are located close to the heart of the activities, The Edgewater Hotel. </p>

<hgroup>
    <h2>Tourism</h2>
    <h3>Reccomended activities</h3>
</hgroup>

<iframe id="map2" width="705" height="470" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
src="https://maps.google.com/maps/ms?msa=0&amp;msid=211236623504893883128.0004c93b769ee12f74c4f&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe>


<ul class="party">
    <li>
        <hgroup>
            <h4>1) Pike Place Market</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>Pike Place market is the typical Seattle tourism activity second only to the space needle. Known for its large 
        neon sign the and its flying fish.</p>
    </li>
        <li>
        <hgroup>
            <h4>2) Space Needle</h4>
            <h5>Typical Seattle, WA Activity</h5>
        </hgroup>
        <p>The Space Needle is one of the most iconic buildings in the world. Build for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.  .</p>
    </li>
</ul>