@{
    Page.Title = "Acitivities";
    Page.acvities = "current";
}

<hgroup>
    <h1>Activities</h1>
    <h3>Featured Activities</h3>
</hgroup>

<p>Bellow is a list of small recommended activities for those of you coming form out of town. It contains many Pacific Northwest must sees along with a few our our favorites.</p>

<section id="featured">
    <iframe id="map" width="705" height="470" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
    src="https://maps.google.com/maps/ms?msa=0&amp;msid=211236623504893883128.0004c93b769ee12f74c4f&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    <small class="caption"><a target="_blank" href="https://maps.google.com/maps/ms?msa=0&amp;msid=211236623504893883128.0004c93b769ee12f74c4f&amp;ie=UTF8&amp;t=m&amp;z=15&amp;source=embed">View larger Map</a></small>
    <div class="row">
        <div class="cell">
            <img src="images\map\1.png" />
            <hgroup>
                <h4>Pike Place Market</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>Pike Place market is the typical Seattle tourism activity second only to the Space Needle. Known for its large 
            neon sign and its flying fish.</p>
        </div>
        <div class="cell">
            <img src="images\map\2.png" />
            <hgroup>
                <h4>Space Needle</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>The Space Needle is one of the most iconic buildings in the world. Built for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.</p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\3.png" />
            <hgroup>
                <h4>Pike Place Market</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>Pike Place market is the typical Seattle tourism activity second only to the Space Needle. Known for its large 
            neon sign and its flying fish.</p>
        </div>
        <div class="cell">
            <img src="images\map\4.png" />
            <hgroup>
                <h4>Space Needle</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>The Space Needle is one of the most iconic buildings in the world. Built for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.</p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\5.png" />
            <hgroup>
                <h4>Pike Place Market</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>Pike Place market is the typical Seattle tourism activity second only to the Space Needle. Known for its large 
            neon sign and its flying fish.</p>
        </div>
        <div class="cell">
            <img src="images\map\6.png" />
            <hgroup>
                <h4>Space Needle</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>The Space Needle is one of the most iconic buildings in the world. Built for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.</p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\7.png" />
            <hgroup>
                <h4>Pike Place Market</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>Pike Place market is the typical Seattle tourism activity second only to the Space Needle. Known for its large 
            neon sign and its flying fish.</p>
        </div>
        <div class="cell">
            <img src="images\map\8.png" />
            <hgroup>
                <h4>Space Needle</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>The Space Needle is one of the most iconic buildings in the world. Built for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.</p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\9.png" />
            <hgroup>
                <h4>Pike Place Market</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>Pike Place market is the typical Seattle tourism activity second only to the Space Needle. Known for its large 
            neon sign and its flying fish.</p>
        </div>
        <div class="cell">
            <img src="images\map\10.png" />
            <hgroup>
                <h4>Space Needle</h4>
                <h5>Typical Seattle, WA Activity</h5>
            </hgroup>
            <p>The Space Needle is one of the most iconic buildings in the world. Built for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.</p>
        </div>
    </div>
</section>

<hgroup>
    <h2>Close By</h2>
    <h3>Within Walking Distance</h3>
</hgroup>
<section id="walking">
    <div class="column">
        <h4>Resturants</h4>
        <ul>
            <li><a href="#">Umi Saki House</a></li>
            <li><a href="#">The Pink Door</a></li>
            <li><a href="#">Anthony's on the Waterfront</a></li>
            <li><a href="#">Elliot's on the Bay</a></li>
            <li><a href="#">Capital Grill</a></li>
            <li><a href="#">Purple</a></li>
            <li><a href="#">Wild Ginger</a></li>
            <li><a href="#">La Pichet</a></li>
            <li><a href="#">Macrina Bakery</a></li>
            <li><a href="#">Tully's</a></li>
            <li><a href="#">Caffe Ladro</a></li>
            <li><a href="#">Top Pot Doughnuts</a></li>
            <li><a href="#">Brave Horse Tavern</a></li>
            <li><a href="#">Pesos</a></li>
            <li><a href="#">Toulouse Petit</a></li>
            <li><a href="#">Melting Pot</a></li>
            <li><a href="#">Pyramid Brewery</a></li>
            <li><a href="#">Elysian Brewery</a></li>
            <li><a href="#">Joey's on Lake Union</a></li>
            <li><a href="#">Beecher's Cheese</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Nightlife</h4>
        <ul>
            <li><a href="#">Can Can</a></li>
            <li><a href="#">The Pink Door</a></li>
            <li><a href="#">Tavern Law</a></li>
            <li><a href="#">Bathtub Gin and Co.</a></li>
            <li><a href="#">Teatro Zinzanni</a></li>
            <li><a href="#">Keys on Main</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Attractions</h4>
        <ul>
           <li><a href="#">Pike's Market</a></li>
           <li><a href="#">Seattle Great Wheel</a></li>
           <li><a href="#">Seattle Waterfront</a></li>
           <li><a href="#">Seattle Aquarium</a></li>
           <li><a href="#">Ride the Ducks</a></li>
           <li><a href="#">Space Needle</a></li>
           <li><a href="#">Pacific Science Center</a></li>
           <li><a href="#">Experience Music Project</a></li>
           <li><a href="#">Children's Museum</a></li>
           <li><a href="#">Woodland Park Zoo</a></li>
           <li><a href="#">Argosy Cruises</a></li>
           <li><a href="#">Washington Ferries to Bainbridge/Bremerton</a></li>
           <li><a href="#">Mariner game</a></li>
           <li><a href="#">Olympic Sculpture Park</a></li>
           <li><a href="#">Seattle Art Museum</a></li>
           <li><a href="#">Gas Works Park</a></li>
           <li><a href="#">Agua Verde Paddle Club</a></li>
           <li><a href="#">Underground Tour</a></li>
        </ul>
    </div>
</section>

<hgroup>
    <h2>A Few Miles</h2>
    <h3>For the more adventerous</h3>
</hgroup>

<section id="driving">
    <div class="column">
        <h4>Resturants</h4>
        <ul>
            <li><a href="#">Tropea</a></li>
            <li><a href="#">Portage Bay Cafe</a></li>
            <li><a href="#">Rays Boathouse</a></li>
            <li><a href="#">Delphino's</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Nightlife</h4>
        <ul>
            <li><a href="#">Tangletown</a></li>
            <li><a href="#">The Parlor Comedy Club</a></li>
            <li><a href="#">Fremont Brewery</a></li>
            <li><a href="#">Brouers</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Attractions</h4>
        <ul>
           <li><a href="#">Burke Gilman Trail</a></li>
           <li><a href="#">Golden Gardens</a></li>
           <li><a href="#">Green Lake</a></li>
           <li><a href="#">Fremont Troll</a></li>
           <li><a href="#">Theo's Chocolate Factory tour</a></li>
           <li><a href="#">Ballard Locks</a></li>
           <li><a href="#">Woodinville Wineries</a></li>
           <li><a href="#">Burke Gilman Trail</a></li>
           <li><a href="#">Green Lake trail</a></li>
           <li><a href="#">Kayak/Paddleboard on Lake Union/Lake Washington</a></li>
           <li><a href="#">Hiking at Mt. Si/ Little Si, Tiger Mountain trails</a></li>
           <li><a href="#">Mt. Rainer National Park</a></li>
        </ul>
    </div>
</section>