@{
    Page.Title = "Acitivities";
    Page.acvities = "current";
}

<hgroup>
    <h1>Activities</h1>
    <h3>Featured Activities</h3>
</hgroup>

<p>Bellow is a list of small recommended activities for those of you coming form out of town. It contains many Pacific Northwest must sees along with a few our our favorites.</p>

<section id="featured">
    <iframe id="map" width="705" height="470" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
    src="https://maps.google.com/maps/ms?msa=0&amp;msid=211236623504893883128.0004c93b769ee12f74c4f&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    <small class="caption"><a target="_blank" href="https://maps.google.com/maps/ms?msa=0&amp;msid=211236623504893883128.0004c93b769ee12f74c4f&amp;ie=UTF8&amp;t=m&amp;z=15&amp;source=embed">View larger Map</a></small>
    <div class="row">
        <div class="cell">
            <img src="images\map\1.png" />
            <hgroup>
                <h4>Pike Place Market</h4>
                <h5>Typical Seattle Activity</h5>
            </hgroup>
            <p>Pike Place market is the typical Seattle tourism activity second only to the Space Needle. Known for its large 
            neon sign and its flying fish.</p>
        </div>
        <div class="cell">
            <img src="images\map\2.png" />
            <hgroup>
                <h4>Space Needle</h4>
                <h5>Typical Seattle Activity</h5>
            </hgroup>
            <p>The Space Needle is one of the most iconic buildings in the world. Built for the 1962 World’s Fair in Seattle it 
        has graced the skyline of downtown Seattle for over 50 years now.</p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\3.png" />
            <hgroup>
                <h4>Umi Saki House</h4>
                <h5>Japanese &amp; Sushi Restaurant &amp; Bar</h5>
            </hgroup>
            <p>Umi Sake House is a Holly’s Favorite Sushi Restaurant, carrying Seattle’s finest Sake and Sushi along with traditional 
            Japanese favorites. Happy hour in the bar or call ahead to get the best seating. </p>
        </div>
        <div class="cell">
            <img src="images\map\4.png" />
            <hgroup>
                <h4>Anthany’s Pier 66</h4>
                <h5>Pacific Northwest Seafood</h5>
            </hgroup>
            <p>Anthany’s Pier 66 is a classic Pacific Northwest seafood restaurant with a phenomenal view of the Puget Sound. </p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\5.png" />
            <hgroup>
                <h4>Brave Horse Tavern</h4>
                <h5>Tom Douglas Gastropub</h5>
            </hgroup>
            <p>Brave Horse Tavern is a gastropub that has great food, craft and local beers, and a fun atmosphere, darts and shuffle 
            board included. This is one of  Tom Douglas’s restaurants so come hunger and we recommend the pretzel with the peanut butter and bacon dip. </p>
        </div>
        <div class="cell">
            <img src="images\map\6.png" />
            <hgroup>
                <h4>The Can Can</h4>
                <h5>Seattle's Own Paris Burlesque Show</h5>
            </hgroup>
            <p>The Can Can is defiantly not for the faint of heart with a show that is a bit more risqué.  Great food and cocktails will be served while 
            watching a “new Burlesque” style show. </p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\7.png" />
            <hgroup>
                <h4>The Pink Door</h4>
                <h5>An Italian-American Restaurant with A Twist</h5>
            </hgroup>
            <p>The Pink Door is an Italian-American restaurant with a twist, a cabaret show preformed while you eat including a trapezes performance. 
            Reservations are highly Recommended. </p>
        </div>
        <div class="cell">
            <img src="images\map\8.png" />
            <hgroup>
                <h4>Seattle’s Great Wheel</h4>
                <h5>New Typical Seattle Activity</h5>
            </hgroup>
            <p>Seattle’s Great Wheel is new to the skyline being opened in June of 2012. It is a giant Ferris wheel that is reminiscent of the Eye of London. </p>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <img src="images\map\9.png" />
            <hgroup>
                <h4>The Settle Aquarium</h4>
                <h5>Typical Seattle Activity</h5>
            </hgroup>
            <p>The Settle Aquarium is a great place to take in the sea life that inhabits the cold murky water of the Puget Sound.  When you visit 
            make sure to spend some time hand on Tide Pool exhibit. </p>
        </div>
        <div class="cell">
            <img src="images\map\10.png" />
            <hgroup>
                <h4>Seattle Underground</h4>
                <h5>Typical Seattle Activity</h5>
            </hgroup>
            <p>Learn all about Seattle’s historic and storied past on Seattle’s Underground Tour. This is defiantly not something that you see in every city you visit.</p>
        </div>
    </div>
</section>

<hgroup>
    <h2>Close By</h2>
    <h3>Within Walking Distance</h3>
</hgroup>
<section id="walking">
    <div class="column">
        <h4>Resturants</h4>
        <ul>
            <li><a href="http://www.umisakehouse.com">Umi Saki House</a></li>
            <li><a href="http://thepinkdoor.net">The Pink Door</a></li>
            <li><a href="http://www.anthonys.com/restaurants/detail/anthonys-pier-66">Anthony's on the Waterfront</a></li>
            <li><a href="http://www.elliottsoysterhouse.com">Elliott's on the Bay</a></li>
            <li><a href="http://www.thecapitalgrille.com">Capital Grill</a></li>
            <li><a href="http://www.thepurplecafe.com">Purple</a></li>
            <li><a href="http://www.wildginger.net">Wild Ginger</a></li>
            <li><a href="http://lepichetseattle.com">Le Pichet</a></li>
            <li><a href="http://www.macrinabakery.com">Macrina Bakery</a></li>
            <li><a href="http://www.tullys.com">Tully's</a></li>
            <li><a href="http://www.caffeladro.com">Caffe Ladro</a></li>
            <li><a href="http://www.toppotdoughnuts.com">Top Pot Doughnuts</a></li>
            <li><a href="http://bravehorsetavern.com">Brave Horse Tavern</a></li>
            <li><a href="http://www.pesoskitchen.com">Pesos</a></li>
            <li><a href="http://toulousepetit.com">Toulouse Petit</a></li>
            <li><a href="http://toulousepetit.com">Melting Pot</a></li>
            <li><a href="http://www.pyramidbrew.com/alehouses/seattle">Pyramid Brewery</a></li>
            <li><a href="http://www.elysianbrewing.com">Elysian Brewery</a></li>
            <li><a href="http://www.joeyrestaurants.com/lake-union">Joey's on Lake Union</a></li>
            <li><a href="http://www.beechershandmadecheese.com">Beecher's Cheese</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Nightlife</h4>
        <ul>
            <li><a href="http://thecancan.com">Can Can</a></li>
            <li><a href="http://thepinkdoor.net">The Pink Door</a></li>
            <li><a href="http://www.tavernlaw.com">Tavern Law</a></li>
            <li><a href="http://www.bathtubginseattle.com">Bathtub Gin and Co.</a></li>
            <li><a href="http://dreams.zinzanni.org">Teatro Zinzanni</a></li>
            <li><a href="http://keysonmain.com/seattle/">Keys on Main</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Attractions</h4>
        <ul>
           <li><a href="http://pikeplacemarket.org">Pike Place Market</a></li>
           <li><a href="http://seattlegreatwheel.com">Seattle Great Wheel</a></li>
           <li><a href="http://waterfrontseattle.org/">Seattle Waterfront</a></li>
           <li><a href="http://www.seattleaquarium.org/">Seattle Aquarium</a></li>
           <li><a href="http://www.ridetheducksofseattle.com">Ride the Ducks</a></li>
           <li><a href="http://www.spaceneedle.com">Space Needle</a></li>
           <li><a href="http://www.pacificsciencecenter.org">Pacific Science Center</a></li>
           <li><a href="http://www.empmuseum.org">Experience Music Project</a></li>
           <li><a href="http://www.thechildrensmuseum.org">Children's Museum</a></li>
           <li><a href="http://www.zoo.org">Woodland Park Zoo</a></li>
           <li><a href="http://www.argosycruises.com">Argosy Cruises</a></li>
           <li><a href="http://www.wsdot.wa.gov/ferries/">Washington Ferries to Bainbridge/Bremerton</a></li>
           <li><a href="http://seattle.mariners.mlb.com">Mariner game</a></li>
           <li><a href="http://www.seattleartmuseum.org/visit/osp">Olympic Sculpture Park</a></li>
           <li><a href="http://www.seattleartmuseum.org/">Seattle Art Museum</a></li>
           <li><a href="http://www.seattle.gov/parks/park_detail.asp?id=293">Gas Works Park</a></li>
           <li><a href="http://www.aguaverde.com">Agua Verde Paddle Club</a></li>
           <li><a href="http://www.undergroundtour.com">Underground Tour</a></li>
        </ul>
    </div>
</section>

<hgroup>
    <h2>A Few Miles</h2>
    <h3>For the more adventerous</h3>
</hgroup>

<section id="driving">
    <div class="column">
        <h4>Resturants</h4>
        <ul>
            <li><a href="http://www.ristorantetropea.com">Tropea</a></li>
            <li><a href="http://portagebaycafe.com">Portage Bay Cafe</a></li>
            <li><a href="http://www.rays.com">Rays Boathouse</a></li>
            <li><a href="http://www.delfinospizzeria.com/">Delphino's</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Nightlife</h4>
        <ul>
            <li><a href="http://www.elysianbrewing.com/tangletown/">Tangletown</a></li>
            <li><a href="http://www.parlorlive.com">The Parlor Comedy Club</a></li>
            <li><a href="http://www.fremontbrewing.com">Fremont Brewery</a></li>
            <li><a href="http://brouwerscafe.blogspot.com">Brouers</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Attractions</h4>
        <ul>
           <li><a href="http://www.seattle.gov/parks/burkegilman/bgtrail.htm">Burke Gilman Trail</a></li>
           <li><a href="http://www.seattle.gov/parks/parkspaces/golden.htm">Golden Gardens</a></li>
           <li><a href="http://www.seattle.gov/parks/park_detail.asp?id=307">Green Lake</a></li>
           <li><a href="http://fremont.com/about/fremonttroll-html">Fremont Troll</a></li>
           <li><a href="http://www.theochocolate.com/factory-tour">Theo's Chocolate Factory tour</a></li>
           <li><a href="http://www.myballard.com/ballard-locks-seattle">Ballard Locks</a></li>
           <li><a href="http://woodinvillewinecountry.com">Woodinville Wineries</a></li>
           <li><a href="http://www.wta.org/go-hiking/hikes/mount-si">Hiking at Mt. Si / Little Si</a></li>
           <li><a href="http://www.wta.org/go-hiking/hikes/tiger-mountain-trail">Hiking Tiger Mountain</a></li>
           <li><a href="http://www.nps.gov/mora/">Mt. Rainer National Park</a></li>
        </ul>
    </div>
</section>