@{
    Page.Title = "Bridal Party";
}

<hgroup>
    <h1>Bridal Party</h1>
    <h3>Meet the bridal party</h3>
</hgroup>

<p>Holly and Matthew would like to introduce you to the best bridal party a young couple could ask for! 
This group of people has provided the support and friendship that has allowed Holly and Matthew to grow 
individually and as a couple. A special thanks should be extended to each of them for everything that 
they do for this young couple.</p>

<hgroup>
    <h2>Bride</h2>
    <h3>Holly's Side</h3>
</hgroup>

<ul class="party">
    <li>
        <hgroup>
            <h4>Emily Sommerfeld</h4>
            <h5>Friend of the Bride</h5>
        </hgroup>
        <p>I have known Emily since kindergarten, when I asked her if she wanted to play with the blocks with me. 
        Emily and I graduated high school together and attended University of North Dakota together. Emily now 
        lives in Devils Lake, ND where she is a special education teacher. Although we are many miles apart she
        is someone who I can call at any hour and pick up right where we left off!</p>
    </li>
    <li>
        <hgroup>
            <h4>Christy Vecchio</h4>
            <h5>Friend of the Bride</h5>
        </hgroup>
        <p>I have known Christy since we were 4 years old. We grew up across the street from each other and our 
        parents still live across the street today. Christy and I both graduated high school together. We also 
        both attended University of North Dakota together and attended graduate school to become Occupational
        Therapists. Christy currently lives in Colorado Springs, CO, however we remain very close friends and 
        enjoy any time that we get to spend with each other!</p>
    </li>
    <li>
        <hgroup>
            <h4>Tamira Bass</h4>
            <h5>Friend of the Bride</h5>
        </hgroup>
        <p>I met Tamira 5 years ago when we were doing our Occupational Therapy internships as Western State 
        Hospital in Seattle. We had both moved out here without knowing anyone and became close friends very
        quickly during those 3 months. One year later, Tamira and I both decided to move to Seattle to start
        our careers. Matthew and I have become very close to Tamira and her husband Gary over the past few 
        years. We are also very blessed to have inherited their beautiful daugther Aleanna as our niece!</p>
    </li>
    <li>
        <hgroup>
            <h4>Molly Nolan</h4>
            <h5>Friend of the Bride</h5>
        </hgroup>
        <p>I met Molly 4 years ago at a Low Vision Rehabilitation class. Both of us attended alone and I was 
        new to the area so I thought I would spark up a conversation. Our friendship as grown significantly 
        over the past few years and she always challenges me to try new things or go out of my comfort zone!
        Thanks to Molly, I got interested in snowboarding, hiking, and many other activities that the Pacific 
        Northwest has to offer. Whether we are on the slopes or drinking wine and chatting over dinner, we always 
        seems to have a great time together.</p>
    </li>
    <li>
        <hgroup>
            <h4>Erika Reid</h4>
            <h5>Cousin of the Bride</h5>
        </hgroup>
        <p>Erika and I have many great memories together and she is someone I can count on to always have a good time 
        with when we are together. We have spent many summers together, whether it was in Florida at her house or 
        Bemidji at the lake cabin. I value Erika's opinion of fashion and style, as well as her honest with me
        about anything...which is exactly why I chose her for my personal attendant.</p>
    </li>
    <li>
        <hgroup>
            <h4>Karlee Kalbrener</h4>
            <h5>Cousin of the Bride</h5>
        </hgroup>
        <p></p>
    </li>
</ul>

<hgroup>
    <h2>Groom</h2>
    <h3>Matthew's side</h3>
</hgroup>

<ul class="party">
    <li>
        <hgroup>
            <h4>Brad Wilson</h4>
            <h5>Friend of the Groom</h5>
        </hgroup>
        <p></p>
    </li>
    <li>
        <hgroup>
            <h4>Adam Silewski</h4>
            <h5>Brother of the Bride</h5>
        </hgroup>
        <p></p>
    </li>
    <li>
        <hgroup>
            <h4>Jim Wang</h4>
            <h5>Friend of the Groom</h5>
        </hgroup>
        <p></p>
    </li>
    <li>
        <hgroup>
            <h4>Jeff Wilcox</h4>
            <h5>Friend of the Groom</h5>
        </hgroup>
        <p></p>
    </li>
</ul>