@{
    Page.Title = "Welcome";
}

<hgroup>
    <h1>The Wedding</h1>
    <h3 class="line">Silewski-Osborn Wedding</h3>
</hgroup>


<p>Family and friends,</p>
            
<p>Welcome to our wedding website! We are so excited to announce our engagement and feel blessed in share our day, 
May 10, 2013 with you! We look forward to seeing you all and hope you find this website helpful as your plan your 
day with us!</p>

<p>Love, Holly & Matthew</p>


<figure id="coverImage">
    <img src="@Href("~/images/cover.jpg")" alt="The Proposal" />
    <figcaption>Holly &amp; Matthew are getting married on the tenth of May, two thousand thirteen.</figcaption>
</figure>

<hgroup>
    <h2>About Us</h2>
    <h3>Get to know us</h3>
</hgroup>

<p>Holly is an occupational therapist at Issaquah School District. She also owns her own business, "Write Here, 
Write Now" which specializes in handwriting instruction for young children. Holly enjoys snowboarding, running, 
reading, drinking wine, and spending time on or near the water.</p>

<p>Matthew is a software development enginner at Microsoft. Lorem ipsum dolor sit amet, consectetur adipiscing 
elit. Nulla at dolor ante. Morbi nec velit lacus, condimentum tincidunt neque. Integer a justo nunc, non pretium 
risus. Nullam quis lorem hendrerit augue porttitor consequat. Fusce eu felis non lacus sodales porttitor nec ut 
odio. Aenean adipiscing, nibh nec semper ornare, massa erat dictum sapien, nec tempus nunc nunc sit amet sem.</p>

<p>Holly and Matthew met on eHarmony after they both were tired of the typical dating scene in Seattle. After 
many emails, texts, and phone calls, they decided to go on their first date. Holly and Matthew traveled 
frequently during their first 2 years of dating, including to San Francisco, Florida, Arizona, Belgium, Canada, and 
Paris. They also enjoy going wine or beer tasting and hanging out with friends.</p>

<hgroup>
    <h2>Holly Said Yes!</h2>
    <h3>About the Engagement</h3>
</hgroup>

<p>On Tuesday, June 19th 2013, Matthew asked Holly for her hand in marriage, and most importantly Holly said yes! 
That night Matthew took Holly on a once in a lifetime evening of seaplanes, limos, and private dining. </p>

<figure id="engagementImage">
    <img src="@Href("~/images/engagement.jpg")" alt="The Proposal" />
    <figcaption>More Information at http://hollysaidyes.com. Declaimer: This is not the real proposal, neither of us was this calm during the real deal!</figcaption>
</figure>

<p>To get the full story on that magical night’s event visit their engagement website at 
<a href="http://hollysaidyes.com">HollySaidYes.com</a>.</p>

@section Scripts {
<script>
    $(function () {
        $('#coverImage img').hover(function () {
            $('#coverImage figcaption').slideToggle('fast');
        });

        $('#engagementImage img').hover(function () {
            $('#engagementImage figcaption').slideToggle('fast');
        });
    });
</script>
}