@{
    Page.Title = "Information";
    Page.more = "current";
}

<hgroup>
    <h1>Information</h1>
    <h3>Additional Information</h3>
</hgroup>

<p>Holly &amp; Matthew are regestered at the following locations</p>
<ul>
    <li><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?WRN=-1622704820">Bed Bath and Beyond</a></li>
</ul>

<p>Please contact Holly or Matthew with any questions regarding hotel accomodations, travel, or sightseeing in Seattle. 
<a href="mailto:holly@silewski.com">Holly@Silewski.com</a> or <a href="mailto:matthew@osbornm.com">Matthew@osbornm.com</a></p>

