.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

body {
    background: url('../images/main-background.gif') repeat;
    color: #3d3d3d;
    font-family: GrandesignNeueSerif;
    min-width: 1070px;
}

a {
    outline: 0;
    color: #3d3d3d;
}

    /* Navigation */
    nav {
       position: fixed;
       top: 100px;
       left: 20px; 
       font-size: 1.1em;
    }

        nav ul {
            padding-left: 0;
        }

            nav ul li {
                background: url('../images/bullet.png') left center no-repeat;
                list-style: none;
                padding: 0 0 0 18px;
                margin-bottom: 5px;
            }

                nav ul li a {
                    text-decoration: none;
                }

                    nav ul li a:hover {
                        color: #f6d1d9;
                    }

                    nav ul li a.current {
                        font-weight: bold;
                    }
    
    .page-content {
        margin: 0 auto;
        width: 725px;
    }
    
        /* Main Headings */
        hgroup {
            margin: 50px 0;
            text-align: center;
        }

        hgroup h1, hgroup h2 {
            background: url('../images/main-header.png') no-repeat;
            color: #4c4c4c;
            font-family: Cubano;
            font-size: 3em;
            height: 130px;
            line-height: 130px;
            margin: 10px auto;
            text-shadow: 3px 3px #f0f0f0;
            text-transform: uppercase;
            width: 540px;
        }

            hgroup.long h1,
            hgroup.long h2 {
                font-size: 2.9em;
            }

        hgroup h3 {
            font-size: 1.3em;
            font-weight: normal;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            width: 435px;
        }
        
            hgroup h3.line {
                background: url('../images/sub-header.gif') repeat-x 50%;
            }
  
            hgroup h3 span {
                background: url('../images/main-background.gif') repeat;
                padding: 0 20px;
            }
        
        
        /* Body */
        p {
            font-size: .95em;
            line-height: 1.5em;
            text-align: justify;
        }

        hr {
            background: url('../images/drawing.gif') no-repeat;
            border: none;
            height: 130px;
            margin: 40px auto 80px auto;
            width: 380px;
        }
        
        /* Gallery */
        #gallery {
            margin: 60px auto 30px auto;
        }
        
        figure, #map {
            border: solid 10px #fff;
            height: 470px;
            margin-bottom: 0;
            margin-left: 0;
            position: relative;
            width: 705px;
        }

            small.caption {
                width: 100%;
                display: inline-block;
                font-size: .95em;
                text-align: right;
            }

            figcaption {
                background-color: rgba(0,0,0,0.5);
	            bottom: 0;
                color: #fff;
                display: none;
	            left: 0;
                padding: 10px;
                position: absolute;
                width: 685px;
            }
        
        #images {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
            #images:after {
                content: ".";
                clear: both;
                display: block;
                height: 0;
                visibility: hidden;
            }
            
            #images li {
                list-style: none;
                float: left;
                margin-bottom: 10px;
                margin-right: 10px;
            }
            
            #images li.last {
                margin-right: 0;
            }
        
                 #images li img {
                    border: solid 10px #fff;
                    height: 101px;
                    width: 153px;
                 }
                 
                 #images li img.selected {
                    border: solid 10px #f6d1d9;
                 }
        

         /* Timeline */
        
        #timeline { 
            list-style: none;
            padding: 0 0 0 10px;
        }
        
        #timeline li {
            margin: 15px 0;
        }
        
        #timeline h4 {
            color: #4c4c4c;
            display: inline-block;
            font-family: Cubano;
            font-size: 1.7em;
            margin: 0;
            padding: 0 10px 0 0;
        }
        
        #timeline span {
            font-size: 1.3em;
        }
        
/* The Party */
ul.party {
    list-style: none;
    padding-left: 0;
}

ul.party hgroup {
    text-align: left;
    margin-bottom: 0;
}

    ul.party hgroup h4, 
    ul.party hgroup h5 {
        margin: 0;
    }


/* The Activities */
.row {
    margin-bottom: 20px;
}
.row .cell {
    display: inline-block;
    width: 350px;
    margin-right: 20px;
    vertical-align: top;
}

.row .cell:last-of-type{
    margin-right: 0;
}

    .row .cell img {
        height: 30px;
        width: 30px;
    }

    .row .cell hgroup {
        display: inline-block;
        margin: 0;
        text-align: left;
    }

        .row .cell hgroup h4,
        .row .cell hgroup h5 {
            margin: 0;
        }

    .row .cell p {
        margin: 5px 0 0 30px;;
    }

    #driving .column,
    #walking .column {
        text-align: center;
        width: 235px;
        display: inline-block;
        vertical-align: top;
    }

        #driving .column ul,
        #walking .column ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }

        #driving .column li,
        #walking .column li {
            margin-bottom: 7px;
        }


ul.featured {
    list-style: none;
    padding-left: 0;
}

ul.featured li {
    width: 210px;
    float: left;
    padding: 10px;
}

ul.featured hgroup {
    text-align: left;
    margin-bottom: 0;
}

    ul.featured hgroup h4, 
    ul.featured hgroup h5 {
        margin: 0;
    }

    ul.featured:after {
        clear: both;
    }

    
/* Hotels */
section.hotel {
    margin-bottom: 40px;
}
section.hotel h4 {
    font-size: 2em;
    margin-bottom: 10px;
}

section.hotel h5 {
    font-size: 1.25em;
    margin: 0;
}

section.hotel address,
section.hotel .phone {
    font-size: 1.25em;
    margin-bottom: 0;
    margin-top: 0;
}


@font-face {
    font-family: cubano;
    src: url('../fonts/cubano-regular.woff'),
         url('../fonts/cubano-regular.ttf'),
         url('../fonts/cubano-regular.eot'); 
}

@font-face {
    font-family: GrandesignNeueSerif;
    src: url('../fonts/Grandesign-Neue-Serif.woff'),
         url('../fonts/Grandesign-Neue-Serif.ttf'),
         url('../fonts/Grandesign-Neue-Serif.eot'); 
}